.footer-container-inner {
  height: 834px;
  width: 437px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 119px 0 0;
  box-sizing: border-box;
  min-width: 437px;
  max-width: 100%;
}
.frame-child,
.rectangle-parent {
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  max-width: 100%;
}
.frame-child {
  height: 1004px;
  width: 960px;
  position: relative;
  display: none;
}
.rectangle-parent {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: 68px 38px;
  box-sizing: border-box;
  min-width: 624px;
  min-height: 1004px;
}
.footer-container,
.paymentpage,
.rectangle-parent {
  display: flex;
  justify-content: flex-start;
}
.footer-container {
  width: 1529px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  gap: 112px;
  max-width: 100%;
}
.paymentpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .footer-container-inner {
    flex: 1;
  }
  .rectangle-parent {
    padding-top: 44px;
    padding-bottom: 44px;
    box-sizing: border-box;
    min-height: auto;
  }
  .footer-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .footer-container-inner,
  .rectangle-parent {
    padding-top: 77px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .rectangle-parent {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .footer-container {
    gap: 56px;
  }
}
@media screen and (max-width: 450px) {
  .footer-container-inner {
    padding-top: 50px;
    box-sizing: border-box;
  }
  .footer-container {
    gap: 28px;
  }
}
