.refund-policy {
  margin: 0;
  width: 1680px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.refund-policy-wrapper {
  align-self: stretch;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.lilylamb-kids-we {
  width: 1120px;
  position: relative;
  line-height: 135%;
  display: inline-block;
  max-width: 100%;
}
.contact-information,
.contact-information1 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.contact-information1 {
  padding-left: 43px;
}
.contact-information {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 400;
}
.address-123-main,
.blank-line,
.brandname-customer-support,
.email-supportbrandnamecom,
.if-you-have,
.phone-1-800-123-4567 {
  margin: 0;
}
.if-you-have-container {
  align-self: stretch;
  position: relative;
  line-height: 135%;
}
.contact-information-parent,
.if-you-have-any-questions-or-c-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.if-you-have-any-questions-or-c-wrapper {
  align-self: stretch;
  font-size: 16px;
  font-family: Manrope;
}
.contact-information-parent {
  width: 1120px;
  gap: 32px;
  max-width: 100%;
  font-size: 32px;
  font-family: "Libre Caslon Text";
}
.lilylamb-kids-we-us-or-parent,
.refundpolicypage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #1c1c1c;
}
.lilylamb-kids-we-us-or-parent {
  align-self: stretch;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  font-family: Manrope;
}
.refundpolicypage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 48px;
  font-family: "Libre Caslon Text";
}
@media screen and (max-width: 1225px) {
  .lilylamb-kids-we-us-or-parent {
    gap: 32px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .refund-policy {
    font-size: 38px;
    line-height: 42px;
  }
  .contact-information {
    font-size: 26px;
    line-height: 31px;
  }
  .contact-information-parent {
    gap: 16px;
  }
  .lilylamb-kids-we-us-or-parent {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .refund-policy {
    font-size: 29px;
    line-height: 32px;
  }
  .contact-information {
    font-size: 19px;
    line-height: 23px;
  }
}
