.contact-information2 {
  position: relative;
  line-height: 22px;
}
.contact-info-labels,
.form-field {
  align-self: stretch;
  font-size: 16px;
  font-family: Manrope;
}
.form-field {
  border: 0;
  background-color: transparent;
  color: #000;
}
.contact-info-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
  color: #1c1c1c;
}
