.horizontal-divider9 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: #bbb;
}
.divider-pair {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31.5px 0 0;
  box-sizing: border-box;
  min-width: 495px;
  max-width: 100%;
}
.logo-symbol-icon1 {
  height: 64px;
  width: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lucid-giftgalaxy1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.logo-name,
.logo1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
}
.logo1 {
  overflow: hidden;
  flex-direction: row;
  padding: 0 31px 0 0;
  box-sizing: border-box;
  gap: 4px;
  max-width: 100%;
}
.horizontal-divider10 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: #bbb;
}
.divider-pair1,
.footer-top-divider {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divider-pair1 {
  flex: 1;
  flex-direction: column;
  padding: 31.5px 0 0;
  box-sizing: border-box;
  min-width: 495px;
}
.footer-top-divider {
  align-self: stretch;
  flex-direction: row;
  gap: 20px;
}
.heading-45,
.item-link7 {
  position: relative;
  line-height: 22px;
}
.heading-45 {
  width: 159.1px;
  display: flex;
  align-items: center;
}
.item-link7 {
  display: inline-block;
  min-width: 77px;
}
.item-link8 {
  display: inline-block;
  min-width: 128px;
}
.item-link10,
.item-link11,
.item-link8,
.item-link9 {
  position: relative;
  line-height: 22px;
}
.item-link10,
.item-link11 {
  display: inline-block;
  min-width: 103px;
}
.item-link11 {
  min-width: 61px;
}
.item-link12 {
  height: 16px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 119px;
}
.personal-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  min-width: 146px;
}
.item-link13 {
  display: inline-block;
  min-width: 112px;
}
.item-link13,
.item-link14,
.item-link15,
.item-link16 {
  position: relative;
  line-height: 22px;
}
.item-link15,
.item-link16 {
  display: inline-block;
  min-width: 116px;
}
.item-link16 {
  min-width: 57px;
}
.item-link17 {
  height: 16px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 63px;
}
.card-types-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  min-width: 130px;
}
.column-items,
.links-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.links-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  color: #333;
  font-family: Manrope;
}
.column-items {
  width: 340px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 18px;
  box-sizing: border-box;
  max-width: 100%;
}
.heading-46 {
  width: 192.6px;
  display: flex;
  align-items: center;
}
.heading-46,
.item-link18,
.item-link19 {
  position: relative;
  line-height: 22px;
}
.item-link18 {
  width: 206px;
  display: flex;
  align-items: center;
}
.item-link19 {
  display: inline-block;
  min-width: 92px;
  white-space: nowrap;
}
.item-link20 {
  width: 156px;
  display: flex;
  align-items: center;
}
.item-link20,
.item-link21,
.item-link22 {
  position: relative;
  line-height: 22px;
}
.item-link21 {
  align-self: stretch;
}
.item-link22 {
  display: inline-block;
  min-width: 86px;
}
.item-link23 {
  align-self: stretch;
  height: 16px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.business-info,
.business-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.business-links-container {
  align-self: stretch;
  gap: 14px;
  font-size: 16px;
  color: #333;
  font-family: Manrope;
}
.business-info {
  width: 224px;
  padding: 0 0 18px;
  box-sizing: border-box;
  gap: 20px;
}
.heading-47 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 112.4px;
}
.item-link24,
.item-link25 {
  position: relative;
  line-height: 22px;
}
.item-link25 {
  display: inline-block;
  min-width: 105px;
}
.item-link26 {
  height: 16px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 114px;
}
.artists-info,
.artists-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.artists-links {
  gap: 14px;
  font-size: 16px;
  color: #333;
  font-family: Manrope;
}
.artists-info {
  gap: 24px;
  font-family: Roboto;
}
.heading-48 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 108.2px;
}
.email-icon {
  height: 10.5px;
  width: 14px;
  position: relative;
}
.supportlucidgiftgalaxynet {
  flex: 1;
  position: relative;
  line-height: 135%;
  white-space: nowrap;
}
.email-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.location-icon {
  height: 14px;
  width: 10.5px;
  position: relative;
}
.denver-co-80231,
.e-hampden-ave {
  margin: 0;
}
.e-hampden-ave-container {
  flex: 1;
  position: relative;
  line-height: 135%;
}
.address-container,
.contact-heading,
.contact-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.address-container {
  width: 207.5px;
  flex-direction: row;
  gap: 16px;
  color: #666;
}
.contact-heading,
.contact-items {
  align-self: stretch;
  flex-direction: column;
}
.contact-items {
  gap: 20px;
  font-size: 16px;
  color: #333;
  font-family: Manrope;
}
.contact-heading {
  gap: 24px;
}
.heading-49 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 97px;
}
.item-link27,
.item-link28,
.item-link29 {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 100px;
  min-height: 50px;
}
.contact-info,
.social-info,
.social-links-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.contact-info,
.social-info {
  flex-direction: column;
  gap: 24px;
}
.contact-info {
  width: 259px;
  gap: 42px;
  font-family: Roboto;
}
.column-container,
.footer-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.column-container {
  width: 1400px;
  justify-content: space-between;
  gap: 20px;
}
.footer-columns {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 18px;
  color: #666;
}
.item-link30 {
  height: 21px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 110%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  min-width: 81px;
}
.item-link31 {
  min-width: 106px;
}
.item-link31,
.item-link32,
.item13 {
  height: 21px;
  position: relative;
  letter-spacing: 0.08em;
  line-height: 110%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.item13 {
  min-width: 110px;
}
.legal-links {
  flex-direction: row;
  justify-content: flex-start;
  gap: 37px;
}
.background9,
.footer,
.footer-desktop,
.legal-links {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.background9 {
  align-self: stretch;
  background-color: #f7f7f7;
  flex-direction: row;
  justify-content: center;
  padding: 23.5px 20px 24.5px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  font-family: Manrope;
}
.footer,
.footer-desktop {
  justify-content: flex-start;
}
.footer {
  flex: 1;
  background-color: #fff;
  flex-direction: column;
  padding: 32px 0;
  box-sizing: border-box;
  gap: 47px;
}
.footer-desktop {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  z-index: 1;
  text-align: left;
  font-size: 32px;
  color: #007373;
  font-family: "Libre Caslon Text";
}
@media screen and (max-width: 1525px) {
  .divider-pair,
  .divider-pair1 {
    flex: 1;
  }
  .footer-top-divider {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .column-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 850px) {
  .divider-pair {
    min-width: 100%;
  }
  .lucid-giftgalaxy1 {
    font-size: 26px;
    line-height: 31px;
  }
  .divider-pair1 {
    min-width: 100%;
  }
  .legal-links {
    flex-wrap: wrap;
    gap: 18px;
  }
  .footer {
    gap: 23px;
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
  .footer-desktop {
    gap: 24px;
  }
}
@media screen and (max-width: 450px) {
  .lucid-giftgalaxy1 {
    font-size: 19px;
    line-height: 23px;
  }
  .card-types-two,
  .personal-links {
    flex: 1;
  }
  .links-container {
    flex-wrap: wrap;
  }
  .contact-info {
    gap: 21px;
  }
}
