.horizontal-divider4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: #666;
}
.horizontal-divider-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
  box-sizing: border-box;
  min-width: 506px;
  max-width: 100%;
}
.how-lucid-giftgalaxy {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 29px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.image-icon {
  align-self: stretch;
  height: 24px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-parent1,
.image-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.image-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 2.5px 0 0;
  min-width: 506px;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 34px;
  gap: 15px;
  text-align: center;
  font-size: 24px;
  color: #008484;
  font-family: "Libre Caslon Text";
}
@media screen and (max-width: 850px) {
  .horizontal-divider-wrapper,
  .image-wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .how-lucid-giftgalaxy {
    font-size: 19px;
    line-height: 23px;
  }
}
