.logo-symbol-icon2 {
  height: 64px;
  width: 64px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lucid-giftgalaxy2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.logo2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 31px 0 0;
  box-sizing: border-box;
  gap: 4px;
  max-width: 100%;
}
.item-link33,
.item-link34,
.item-link35 {
  height: 30px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
  min-width: 73px;
}
.item-link34,
.item-link35 {
  min-width: 71px;
}
.item-link35 {
  min-width: 74px;
  white-space: nowrap;
}
.item-link36 {
  min-width: 114px;
  white-space: nowrap;
}
.item-link36,
.item-link37,
.item-link38,
.item-link39 {
  height: 30px;
  position: relative;
  line-height: 135%;
  display: flex;
  align-items: center;
}
.item-link37 {
  min-width: 76px;
  white-space: nowrap;
}
.item-link38,
.item-link39 {
  min-width: 69px;
}
.item-link39 {
  min-width: 40px;
}
.menu {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 100%;
  white-space: nowrap;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-family: Manrope;
}
.icon2 {
  height: 16px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.link-icon1 {
  height: 16px;
  width: 14px;
}
.icon3,
.link-icon1,
.uspng-icon1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon3 {
  height: 16px;
  width: 16px;
}
.uspng-icon1 {
  align-self: stretch;
  width: 28px;
  max-height: 100%;
  object-fit: cover;
  min-height: 18px;
}
.locale {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0;
  gap: 24px;
}
.header2,
.header3,
.logo-container {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.logo-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header2,
.header3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header3 {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 19px 120px;
  box-sizing: border-box;
}
.header2 {
  text-align: left;
  font-size: 32px;
  color: #007373;
  font-family: "Libre Caslon Text";
}
.your-cart {
  margin: 0;
  width: 678.1px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.cart-title {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.view-or-edit {
  width: 849.4px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.cart-content,
.cart-content-wrapper,
.header-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-content {
  flex: 1;
  background-color: #eee;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 81.5px 20px;
  box-sizing: border-box;
  gap: 16px;
}
.cart-content-wrapper,
.header-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.header-parent {
  flex-direction: column;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: "Libre Caslon Text";
}
@media screen and (max-width: 1525px) {
  .logo-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .header3 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .menu {
    flex-wrap: wrap;
  }
  .header3 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .your-cart {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .logo2 {
    flex-wrap: wrap;
  }
  .your-cart {
    font-size: 29px;
    line-height: 32px;
  }
}
