.sign-up,
.sign-up-to {
  align-self: stretch;
  position: relative;
}
.sign-up {
  margin: 0;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.sign-up-to {
  font-size: 16px;
  line-height: 22px;
  font-family: Manrope;
  color: #1c1c1c;
}
.sign-in-content1 {
  width: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.name-address-fields {
  white-space: nowrap;
}
.email-country-password,
.name-address-fields {
  border: 0;
  background-color: transparent;
  flex: 1;
  font-family: Manrope;
  font-size: 16px;
  color: #000;
  min-width: 159px;
}
.name-address-username {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.country,
.name-address-username-child {
  font-size: 16px;
  font-family: Manrope;
  color: #000;
}
.name-address-username-child {
  border: 0;
  background-color: transparent;
  flex: 1;
  min-width: 159px;
}
.country {
  position: relative;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  min-width: 61px;
}
.email-country-input {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.country-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.name-address-username1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.name-address-username-item,
.password1 {
  font-size: 16px;
  font-family: Manrope;
  color: #000;
}
.name-address-username-item {
  border: 0;
  background-color: transparent;
  flex: 1;
  min-width: 159px;
  gap: 20px;
}
.password1 {
  position: relative;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  min-width: 72px;
}
.frame-item {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.password-parent {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 11px;
  min-width: 159px;
  gap: 20px;
}
.name-address-username2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.button1,
.form-fields {
  align-self: stretch;
}
.form-fields {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.or-sign-up {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-family: Manrope;
  display: inline-block;
  min-width: 110px;
}
.social-buttons-icon,
.social-buttons-icon1,
.social-buttons-icon2 {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 45px;
}
.social-sign-up {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.content-area,
.sign-in2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-in2 {
  align-self: stretch;
  border-radius: 24px;
  overflow: hidden;
  align-items: center;
  padding: 92px 36px;
  gap: 36px;
}
.content-area {
  width: 573px;
  align-items: flex-start;
  padding: 100px 0 0;
  box-sizing: border-box;
  min-width: 573px;
  max-width: 100%;
}
.background-icon1 {
  height: 896px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 624px;
}
.page-body {
  width: 1747.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  gap: 194.5px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: "Libre Caslon Text";
}
@media screen and (max-width: 1525px) {
  .content-area {
    flex: 1;
  }
  .page-body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1225px) {
  .page-body {
    gap: 97px;
  }
}
@media screen and (max-width: 850px) {
  .sign-up {
    font-size: 38px;
    line-height: 42px;
  }
  .name-address-username,
  .name-address-username1,
  .name-address-username2 {
    flex-wrap: wrap;
  }
  .sign-in2 {
    gap: 18px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
  .content-area {
    padding-top: 65px;
    box-sizing: border-box;
  }
  .background-icon1,
  .content-area {
    min-width: 100%;
  }
  .page-body {
    gap: 49px;
  }
}
@media screen and (max-width: 450px) {
  .sign-up {
    font-size: 29px;
    line-height: 32px;
  }
  .page-body {
    gap: 24px;
  }
}
